.img {
    margin-right: 11px;
    width: 45vw;
    float: right;
}

.about-holder {
    padding-left: 15px;
}

.founder,
.principal {
    text-align: center;
    padding: 25px;
    width: auto;
    max-width: 400px;

    &:hover {
        box-shadow: 10px 10px 15px 5px #8888887d;
        transition: box-shadow 0.3s ease-in-out; 
    }
}


.card-grid {
    display: flex; 
    flex-wrap: wrap; 
    margin: 25px;
    justify-content: space-evenly;
}
